.container {
  max-width: 700px;
  margin: 40px auto;
  padding: 20px;
}

.title {
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
}

.modePicker {
  width: 60%;
  padding: 10px;
  font-size: 20px;
  margin-bottom: 50px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.loading {
  text-align: center;
  font-size: 16px;
  margin: 20px 0;
}

.card {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 12px;
  margin-bottom: 16px;
  background-color: #fafafa;
}

.cardTitle {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  color: goldenrod;
}

.highlightRow {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.listRow {
  display: flex;
  justify-content: space-between;
  padding: 6px 0;
  border-top: 1px solid #eee;
}

.name {
  font-weight: 600;
  margin-left: 190px;
  margin-right: 30px;
}

.value {
  font-weight: bold;
  display: flex;
}

.toggleButton {
  display: block;
  margin: 8px auto;
  background: none;
  border: none;
  color: #007aff;
  cursor: pointer;
  font-size: 14px;
}
